torch==1.13.1
numpy==1.21.6
jupyter==1.0.0
ipython==7.31.1
POT==0.9.1
scipy==1.7.3
wot==1.0.8.post2
scikit-learn==0.22.2.post1
geomloss==0.2.6
tqdm==4.65.0
pandas==1.3.5
seaborn==0.12.2
matplotlib==3.5.3
joblib==1.2.0
trampoline==0.1.2
boltons==23.0.0
scipy==1.7.3
umap==0.1.1
umap-learn==0.5.3
pynndescent==0.5.10
